<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.izaiqi.platform.core.dao.mapper.ext.SysRolePrivExtMapper">
  <resultMap id="BaseResultMap" type="com.izaiqi.platform.core.domain.model.SysRolePriv">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ROLE_ID" property="roleId" jdbcType="BIGINT"/>
    <id column="PRIV_ID" property="privId" jdbcType="BIGINT"/>
    <result column="STATE" property="state" jdbcType="CHAR"/>
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <select id="checkRoleExist" resultType="java.lang.Boolean" parameterType="java.lang.Long">
    SELECT EXISTS (
    SELECT ROLE_ID,PRIV_ID FROM SYS_ROLE_PRIV
    WHERE ROLE_ID=#{roleId}
    )
  </select>

  <select id="checkPrivExist" resultType="java.lang.Boolean" parameterType="java.lang.Long">
    SELECT EXISTS (
    SELECT ROLE_ID,PRIV_ID FROM SYS_ROLE_PRIV
    WHERE PRIV_ID=#{privId}
    )
  </select>

  <select id="checkRolePrivExist" resultType="java.lang.Boolean" parameterType="java.util.Map">
    SELECT EXISTS (
    SELECT ROLE_ID,PRIV_ID FROM SYS_ROLE_PRIV
    WHERE ROLE_ID=#{roleId} AND PRIV_ID=#{privId}
    )
  </select>
</mapper>
